language: php
php:
- '7.2'

services:
- postgresql

before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- ./cc-test-reporter before-build

env:
  global:
  - CC_TEST_REPORTER_ID=fc4cff3f449dff3ea84f2f92de0d239a9cfcd7475e49eca98f7e0d2b03aea21d
  - DB_CONNECTION=pgsql
  - DB_DATABASE=travis_ci_test
  - DB_USERNAME=postgres
  - GIT_COMMITTED_AT=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then git log -1 --pretty=format:%ct; else git log -1 --skip 1 --pretty=format:%ct; fi)

before_install:
- sh -c "if [ '$DB_CONNECTION' = 'pgsql' ]; then psql -c 'DROP DATABASE IF EXISTS travis_ci_test;' -U postgres; fi"
- sh -c "if [ '$DB_CONNECTION' = 'pgsql' ]; then psql -c 'CREATE DATABASE travis_ci_test;' -U postgres; fi"

install:
- composer self-update
- make install

after_script:
- vendor/bin/test-reporter

script:
- make test
- "phpunit --testsuite=unit --coverage-text --coverage-clover build/logs/clover.xml"
- if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./cc-test-reporter --coverage-input-type clover after-build --exit-code $TRAVIS_TEST_RESULT; fi